<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28481915636-fpo1hvbmnva5r54es37pcae3v3rdq8k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28481915636-fpo1hvbmnva5r54es37pcae3v3rdq8k5</string>
	<key>API_KEY</key>
	<string>AIzaSyCU0NEqbtdtJPef3EuTBxVO5U_x9m3zMhY</string>
	<key>GCM_SENDER_ID</key>
	<string>28481915636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flf.cognitive.dev</string>
	<key>PROJECT_ID</key>
	<string>cognitive-rehabilitation-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cognitive-rehabilitation-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28481915636:ios:3921e23e1cbbb976242ca1</string>
</dict>
</plist>